{% extends "base.html" %}

    {% block content %}
    
    <!--
    #mail logic
    '''
    import smtplib
    server = smtplib.SMTP_SSL("smtp.gmail.com", 465)
    server.login("vedantshinde.3001@gmail.com", "spartanvs")
    server.sendmail("vedantshinde.3001@gmail.com", "vedantshinde.3001@gmail.com", "Hello Vedant Shinde")	
    server.quit()
    '''
    -->


    <br><br><br><br>
    <div>
      <div class="subscribe-form">
        <form action="{{url_for('logout')}}" method="POST">
      <div class="logout1" style="left: 10%; top: 5%;"><br><br>
        <button class="button5 form-control" style="margin-right: 50px; width: 100px; top: 25px; right: 30px;" ><h5>Log Out</h5></button>
      </div>
    </form>
    </div>

    <section id="home" style="background-image: url('static/slide-image02.jpg'); top: 75%; bottom: 40%;">


      
      <div class="overlay"></div>
          <br><br>
        <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <br><br><br><br>
                         <div class="home-info" style="top: 75%;">
                          
                          {% if session['username'] and session['password'] %}

                            <br>
                            <div class="card" style="width: 38rem; background-color: lightgrey;">
                                <img src="static/profile.png" height="250px" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-text" style="font-size: 20px;">{{session['name']}}</h5>
                                  <h5 class="card-text" style="font-size: 20px;">{{session['email']}}</h5>
                                  <h5 class="card-text" style="font-size: 20px;">{{session['info']}}</h5>
                                </div>
                            </div>

                              <br>

                            <div class="row row-cols-1 row-cols-md-2 g-4">

                                <div class="col">
                                  <div class="card" style="height: 300px; background-color: lightgrey;">
                                    <div class="card-body">
                                      <h5 class="card-header" style="font-size: 20px;"><strong>Education</strong></h5><br><br>
                                      <ul type="square">
                                      {% for school in session['education'] %}
                                          {% if school != '[' and school != ']' and school != ", " %}
                                            <h5 style="font-size: 20px;"><li>{{school}}</li></h5>
                                          {% endif %}
                                      {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="col">
                                  <div class="card" style="height: 300px; background-color: lightgrey;">
                                    <div class="card-body">
                                      <h5 class="card-header" style="font-size: 20px;"><strong>Companies</strong></h5><br><br>
                                      <ul type="square">
                                        {% for company in session['companies'] %}
                                          {% if company != '[' and company != ']' and company != ", " %}

                                              <h5 style="font-size: 20px;"><li>{{company}}</li></h5>
                                          {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="col" align="center" style="margin-left: 230px;">
                                  <div class="card" style="height: 1200px; background-color: lightgrey; width: 800px; align-self: centre; ">
                                    <div class="card-body">
                                      <h5 class="card-header" style="font-size: 20px;"><strong>Skills</strong></h5><br><br>
                                      <ul type="square">
                                        {% for skill in session['skills'] %}
                                          {% if skill != '[' and skill != ']' and skill != ", " %}
                                              <h5 style="font-size: 20px;"><li>{{skill}}</li></h5>
                                          {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                  </div>
                                </div>

                              </div>

                              {% else %}

                              <h1>Session expired, looks like you have logged out.</h1>
                              <div class="subscribe-form">

                                <form action="{{url_for('index')}}" method="POST">
                                  
                                  
                                  <div align="center"><button class="form-control button5" style="width: 120px;" >Home Page</button></div>
    
                                </form>
                              </div>
    

                              {% endif %}
                        </div>

                       

                    </div>

                </div>

        </div>

    </section>



    </div>

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
      <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>


    {% endblock %}
    